section
  .chat
    ul
      li.other
        a.user href="#"
          img src="https://s3.amazonaws.com/uifaces/faces/twitter/toffeenutdesign/128.jpg" alt=''
        .date 2 minutes ago
        .message.blur
          .hider
            span Click to read
          p Itaque quod et dolore accusantium. Labore aut similique ab voluptas rerum quia. Reprehenderit voluptas doloribus ut nam tenetur ipsam.
      li.other
        a.user href="#"
          img src="https://s3.amazonaws.com/uifaces/faces/twitter/toffeenutdesign/128.jpg" alt=''
        .date 5 minutes ago
        .message
          .hider
            span Click to read
          p Modi ratione aliquid non. Et porro deserunt illum sed velit necessitatibus. Quis fuga et et fugit consequuntur. Et veritatis fugiat veniam pariatur maxime iusto aperiam.
      li.you
        a.user href="#"
          img src="https://s3.amazonaws.com/uifaces/faces/twitter/igorgarybaldi/128.jpg" alt=''
        .date 7 minutes ago
        .message
          .hider
            span Click to read
          p Provident impedit atque nemo culpa et modi molestiae. Error non dolorum voluptas non a. Molestiae et nobis nisi sed.
      li.other
        a.user href="#"
          img src="https://s3.amazonaws.com/uifaces/faces/twitter/toffeenutdesign/128.jpg" alt=''
        .date 8 minutes ago
        .message
          .hider
            span Click to read
          p Id vel ducimus perferendis fuga excepturi nulla. Dolores dolores amet et laborum facilis. Officia magni ut non autem et qui incidunt. Qui similique fugit vero porro qui cupiditate.
      li.you
        a.user href="#"
          img src="https://s3.amazonaws.com/uifaces/faces/twitter/igorgarybaldi/128.jpg" alt=''
        .date 10 minutes ago
        .message
          .hider
            span Click to read
          p Provident impedit atque nemo culpa et modi molestiae. Error non dolorum voluptas non a. Molestiae et nobis nisi sed.
      li.you
        a.user href="#"
          img src="https://s3.amazonaws.com/uifaces/faces/twitter/igorgarybaldi/128.jpg" alt=''
        .date 10 minutes ago
        .message
          .hider
            span Click to read
          p Est ut at eum sed perferendis ea hic. Tempora perspiciatis magnam aspernatur explicabo ea. Sint atque quod.